<div class="container">
  <div class="row">
    <div class="col">
      <div class="container text-center m-5" style ="width: 40rem;">
        <h1> <%= @gossip.title %> </h1>
        <hr>
        <h4><%= @gossip.content %> </h4>
        <hr>
        <h5>Auteur: <%= link_to (@gossip.user.first_name), profile_path(@gossip.user.first_name)%> </h5>
        <h5> City: <%= link_to (@gossip_city.name), city_path(@gossip_city.id)%> - <%= @gossip_city.zip_code %> </h5>
        <p><small>Publié le: <%= @gossip.created_at %></small> </p>
        <div class="container">
            <%= link_to "  #{@gossip.likes.length}  ", likes_path(@gossip.id), class: "btn btn-secondary far fa-heart", method: :post %>
        </div>
        <hr>
        <p>Lol astéroïde.</p>
        <div class="container align-items-center text-center mt=5 mb=5">
         <% @current_user = current_user() %>
         <% if @current_user == @gossip.user%>
            <h4>Editer le Gossip</h4>
            <%= link_to "Editer le gossip", edit_gossip_path(@gossip.id), class: "btn btn-primary mr-1"%>
            <a href="<%= gossip_path(@gossip.id) %>" class= "btn btn-danger mr-1" data-confirm ="Etes-vous sûr ?" data-method="DELETE">Supprimer</a>
          <%end%>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="container mt-5">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">Commentaires</h3>
              <p>Nombre de commentaires: <%= @gossip.comments.length %>
                <hr>
                <% @gossip.comments.each do |comment| %>
                  <p class="card-text"> <%= comment.content %></p>
                  <div class="row mb-2">
                    <div class="col">
                      <small class="card-text text-end"> <%= comment.user.first_name %> <%= puts " " %> <%= comment.user.last_name %></small> <br>
                    </div>
                    <div class="col">
                      <em><small class="card-text text-end"> <%= comment.created_at %></small></em> <br>
                    </div>
                  </div>
                  <% unless @current_user != comment.user%>
                    <%= link_to "Editer", edit_gossip_comment_path(@gossip.id, comment.id), class: "btn btn-secondary mr-1"%>
                    <a href="/gossips/<%= @gossip.id %>/comments/<%= comment.id %>" class= "btn btn-danger mr-1" data-confirm ="Etes-vous sûr ?" data-method="DELETE">Supprimer</a>
                  <%end%>
                  <hr>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="container">
            <div class="comment-form">
              <%= render 'comments/form' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
