<h3 class="align-items-center text-center mt=5 mb=5">Crée un compte utilisateur</h3>


<% if params[:notice] == "failure" %>
<div class="container mx-auto">
  <div class="alert alert-danger mx-auto text-center " style= "width: 30rem;" role="alert">
    <p>La création de ton profil a échoué, vérifie tes informations</p>
  </div>
</div>
<% end %>

<div class="container mt-5 form-group">
  <%= form_tag profiles_path, method: "post" do %>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <%= label_tag 'Ton prénom' %>
  <%= text_field_tag 'first_name', "", class:"form-control" %>
  <br /> <br />

  <%= label_tag 'Ton nom' %>
  <%= text_field_tag 'last_name', "", class:"form-control" %>
  <br /> <br />

  <%= label_tag 'Ton age (tu dois avoir au moins 10 ans)' %>
  <%= text_field_tag 'age', "", class:"form-control" %>
  <br /> <br />

  <%= label_tag 'Ta ville' %>
  <%= text_field_tag 'city',"", class:"form-control" %>
  <br /> <br />

  <%= label_tag 'Ton adresse mail' %>
  <%= email_field_tag 'email', "", class:"form-control" %>
  <br /> <br />

  <%= label_tag 'Ton mot de passe' %>
  <%= password_field_tag 'password', @session_pwd, class:"form-control" %>
  <br /> <br />

  <%= label_tag 'Confirme ton mot de passe' %>
  <%= password_field_tag 'password_confirm', @session_confirm_pwd, class:"form-control" %>
  <br /> <br />

  <div class="form check">
    <%= check_box_tag :remember_me, :checked => false, class:"form-check-label" %>
    <%= label_tag :Se_souvenir_de_moi %>
    <br /> <br />
  </div>

  <%= submit_tag "S'inscrire", class:"btn btn-primary"%>

  <% end %>
</div>
