
<% if %>
<div class="container text-center mt-5 mb-5" style ="width: 30rem;">
  <h1> <%= @author.first_name %> <%= @author.last_name %> profile </h1>
  <hr>
  <h4><%= @author.description %></h4>
  <hr>
  <p> Age : <%= @author.age %> </p>
  <p> Email address : <%= @author.email %></p>
  <p> City : <%= link_to (@author_city.name), city_path(@author_city.id)%> - <%= @author_city.zip_code %> </p>
  <hr>
  <p>Lol astéroïde.</p>
</div>

<% end %>
